{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %} User registration {% endblock title %}

{% block content %}
    <div class="login-dark py-2" style="background-color:#090d14;">
        <form method="post" style="max-width: 720px">
            {% csrf_token %}
            <h2 class="sr-only">User registration form</h2>
            <div class="illustration"><i class="fa fa-user"></i></div>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class="text-sm text-danger">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% bootstrap_form form %}
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" style="background-color:#007bff;">Sign Up</button>
            </div>
            <p class="text-white">already have an account ? 
                <a href="{% url 'login' %}">login</a>
            </p>
        </form>
    </div>
{% endblock content %}