{% extends 'base.html' %}
{% load static %}
{% block title %}Page Not Found{% endblock title %}

{% block content %}
<div style="background-color:#090d14;padding-top:46px;padding-bottom:36px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-size:189px;font-weight:bold;padding-left:86px;">404</h1>
                <h1 class="text-capitalize" style="padding-left:85px;">
                    Oops!...Page not found
                    &emsp; &emsp; <a href="{% url 'core:index' %}">go to homepage</a>
                </h1>
            </div>
        </div>
    </div>
</div>
{% endblock content %}