{% extends 'base.html' %}
{% load static %}
{% block title %}Server Down{% endblock title %}

{% block content %}
<div style="background-color:#090d14;padding-top:46px;padding-bottom:36px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-size:40px;font-weight:bold" class="text-white mb-2">
                    Ongoing Maintenance</h1>
                <h3 class="text-capitalize">
                    There is currently an ongoing maintenance for requested resource, 
                    we are so sorry for any inconveniences, please, kindly, check back later. Thanks.
                </h3>
            </div>
        </div>
    </div>
</div>
{% endblock content %}