{% extends 'base.html' %}
{% load static %}
{% block title %}Server Down{% endblock title %}

{% block content %}
<div style="background-color:#090d14;padding-top:46px;padding-bottom:36px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-size:189px;font-weight:bold;padding-left:86px;">Ongoing Maintenance</h1>
                <h5 class="text-capitalize" style="padding-left:85px;">
                    There is currently an ongoing maintenance, 
                    we are so sorry for any inconveniences, please, kindly, check back later. Thanks.
                </h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %}